// Cart.scss
.cart {
  width: 242px;
  height: 450px;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    background-color: var(--bg-color, #f8f9fa);
    transition: 0.5s;
  }

  .alert {
    display: flex;
    position: absolute;
    top: 16px;
    left: 16px;
    gap: 8px;
    z-index: 2;
  }

  .popular {
    width: 92px;
    height: 26px;
    padding: 2px 10px;
    background-color: var(--background-color-alertpopular);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 500;
  }

  .new {
    width: 59px;
    height: 26px;
    padding: 2px 10px;
    background-color: var(--background-color-alertNew);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 500;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  .titleCart {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--text-color-text);
    line-height: 1.3;
  }

  .description {
    color: var(--color-cart-text);
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 16px;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  Button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--primary-button-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 26px;
    &:hover {
      background-color: var( --hover-button-color);
    }
  }
}