.review{
  display: flex;
  flex-direction: column;
  gap: 12px;
  .name{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
  }
  .old{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  .icon{
    text-align: center;
  }

}