.review {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 8px;


  .logo {
    width: 100%;
    text-align: center;
    img {
      display: block;
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    word-break: break-word;
  }

  .old {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
  }

  .icon {
    text-align: center;
    img {
      display: inline-block;
      max-width: 120px;
      height: auto;
    }
  }
}