Button{
  border: none;
  background-color: var(--primary-button-color);
  border-radius: 16px ;
  color: white;
  width:263px ;
  height: 81px;
  font-size: 24px;
  cursor: pointer;
  &:hover{
    background-color: var( --hover-button-color);
    transition: 0.3s;
  }
}