Button{
  border: none;
  background:linear-gradient(to right, #E50DE1, #FA5D2E);
  border-radius: 16px ;
  color: white;
  width:263px ;
  height: 81px;
  font-size: 24px;
  cursor: pointer;
  &:hover{
    background:linear-gradient(to right, #B203AF, #FF3B00);
    transition: 0.3s;
  }
}