.welcome {
  display: flex;
  justify-content: center;
  background-color: var(--background-color-block);
  border-radius: 49px;
  padding: 100px;
  transition: all 0.5s;

  .leftBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;

    .title {
      font-size: 36px;
      font-weight: bold;
    }

    .subtitle {
      font-size: 24px;

    }
  }
}