.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  .logo{
    width: 170px;
    height: 40px;
    .icon img{
      color: var(--text-color);
      fill: var(--text-color);
    }

  }
  .section{
    nav{
      display: flex;
      ul{
        list-style: none;
        display: flex;
        gap: 24px;
        padding: 0;
        li{
          a{
            text-decoration: none;
            color: var(--text-color);
          }
        }
      }
    }
  }
  .button {
    color: var(--theme-switcher);
    background:none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}