body{
  margin: 0;
  padding: 0;
}
#root{
  margin: 0;
  padding: 0;
}
.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .logo{
    height: 0;
    align-items:center ;
    display: flex;

  }
  .section{
    display: flex;
    gap: 24px;
  }
}