body{
  margin: 120px;
  transition: all 0.5s;
  color: var(--text-color);
  main{
    gap: 53px;
    display: flex;
    flex-direction: column;
    //transition: all 0.5s;
    //color: var(--text-color);

    .welcome{
      display: flex;
      justify-content: center;
      background-color: var(--background-color-block);
      border-radius: 49px ;
      padding: 100px;
      transition:  all 0.5s;

      .leftBlock{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 50px;
        .title{
          font-size: 36px;
          font-weight: bold;
        }
        .subtitle{
          font-size: 24px;

        }
      }
    }
    .advantages{
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      background-color: var(--background-color-block);
      gap: 51px;
      padding: 25px;
      border-radius: 49px ;
      height: 382px;
      transition:  all 0.5s;
      .whyMeTitle{
        font-size: 40px;
        font-weight: bold;
        border-radius: 49px ;
      }
      .stroke{
        display: flex;
        gap: 23px;
      }
    }
  }
}

