body {
  margin: 120px;
  transition: all 0.5s;
  color: var(--text-color);

  main {
    gap: 53px;
    display: flex;
    flex-direction: column;
    .advantages {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      background-color: var(--background-color-block);
      gap: 51px;
      padding: 25px;
      border-radius: 49px;
      height: 382px;
      transition: all 0.5s;

      .whyMeTitle {
        font-size: 40px;
        font-weight: bold;
      }

      .stroke {
        display: flex;
        gap: 23px;
        flex-wrap: wrap;
      }
    }

    .studying {
      background-color: var(--background-color-block);
      border-radius: 49px;
      padding: 37px;
      gap: 51px;
      display: flex;
      flex-direction: column;

      .titleStudying {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        justify-self: center;
      }

      .carts {
        display: flex;
        flex-direction: column;
        gap: 51px;

        .firstStrokeCart {
          display: flex;
          gap: 46px;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
        }
        .secondStrokeCart {
          display: flex;
          gap: 46px;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
        }
      }

      .watchButton {
        text-align: center;

        Button {
          width: 436px;
          height: 103px;
        }
      }
    }
    .reviews {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      background-color: var(--background-color-block);
      gap: 51px;
      padding: 25px;
      border-radius: 49px;
      height: 606px;
      overflow: hidden;
      width: 100%;

      .whyMeTitle {
        font-size: 40px;
        font-weight: bold;
      }

      .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
      }
    }
    .watchButton {
      text-align: center;
    }
  }
}

