body {
  margin: 120px;
  transition: all 0.5s;
  color: var(--text-color);

  main {
    gap: 53px;
    display: flex;
    flex-direction: column;

    .reviews {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      background-color: var(--background-color-block);
      gap: 51px;
      padding: 25px;
      border-radius: 49px;
      height: 606px;
      overflow: hidden;
      width: 100%;

      .whyMeTitle {
        font-size: 40px;
        font-weight: bold;
      }

      .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
      }
    }
    .watchButton {
      text-align: center;
    }
  }
}

