//кнопка
@import "../components/Button/Button";
//Карточка
@import "../components/Cart/Cart";
@import "../components/advantages/Advantages";
@import "../components/Slider/Slider";
@import "../components/Review/Review";
@import "../components/Hero/Hero";