@import "variables";
@import "components";
@import "AboutPage";
@import "Course";
@import "AboutUs";
@import "Contact";

body {

  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  background: var(--bg-color);
}