body[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333;
  --theme-switcher: #262626;
  --primary-button-color:linear-gradient(to right, #E50DE1, #FA5D2E);
  --hover-button-color:#0056b3;
  --background-color-block: #EEF3FF;
  --background-color-alertpopular:#FF9500;
  --background-color-alertNew:#00F035;
  --color-cart-text:#929292;
  --color-logo-text:#a04995;

}

body[data-theme="dark"] {
  --bg-color: #575757;
  --text-color: #fff;
  --theme-switcher: #fff;
  --primary-button-color:linear-gradient(to right, #E50DE1, #FA5D2E);
  --hover-button-color:#0056b3;
  --background-color-block: #343434;
  --background-color-alertpopular:#FF9500;
  --background-color-alertNew:#00F035;
  --color-cart-text:#929292;
  --color-logo-text:#fff;
}
