.slider {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slides {
  display: flex;
  transition: transform 0.6s ease;
  width: 100%;
}

.slide {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  flex-shrink: 0;
  padding: 0 10px;
  box-sizing: border-box;
}